@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
html {
  font-family: 'Roboto', sans-serif; }
  html main {
    height: auto; }
  html .flex_container {
    display: flex; }
  html .flex_item {
    display: flex; }
  html .flex_item.green {
    border-right: 3px solid darkgreen; }
    html .flex_item.green .item__info p:last-of-type {
      color: darkgreen; }
  html .flex_item.red {
    border-right: 3px solid red; }
    html .flex_item.red .item__info p:last-of-type {
      color: red; }
  html .flex_item.orange {
    border-right: 3px solid orange; }
    html .flex_item.orange .item__info p:last-of-type {
      color: orange; }

html {
  margin: 0;
  padding: 0; }
  html body {
    margin: 0;
    padding: 0;
    background-color: white; }
  html ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
  html a {
    color: black;
    text-decoration: none; }
  html h1, html h2, html h3, html h4 {
    margin: 0;
    color: #787878; }

header {
  width: 100%;
  height: auto;
  padding-bottom: 15px; }
  header h1 {
    font-size: 1em; }
  header nav {
    width: 100%;
    padding-top: 5%; }
    header nav .menu.flex_container {
      justify-content: space-between;
      padding: 0 5% 0 5%; }
    header nav .menu li a img {
      width: 46px;
      height: 46px; }
  header form.search {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 15px;
    padding: 5px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    display: flex; }
    header form.search input:first-of-type {
      width: 24px;
      height: 24px;
      position: relative;
      top: 0;
      left: 0; }
    header form.search input:last-child {
      border: 0;
      font-weight: lighter;
      font-size: 1.3em;
      padding-left: 15px;
      width: 80%;
      color: #787878; }
      header form.search input:last-child:focus {
        outline: none; }

body main#search img {
  max-width: 100%;
  height: auto; }
body main#search .container {
  width: 100%; }
  body main#search .container a .flex_item {
    background-color: #E8E8E8;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    justify-content: start;
    margin-bottom: 15px; }
    body main#search .container a .flex_item .item__img {
      width: 20%;
      padding: 10px;
      background-color: #F3F3F3; }
      body main#search .container a .flex_item .item__img img {
        width: 100%;
        height: auto;
        vertical-align: middle; }
    body main#search .container a .flex_item .item__info {
      padding-left: 10px;
      width: 80%; }
      body main#search .container a .flex_item .item__info p {
        width: 100%; }
        body main#search .container a .flex_item .item__info p:first-of-type {
          color: #787878;
          margin-left: 3px; }
        body main#search .container a .flex_item .item__info p:last-of-type {
          text-align: right;
          margin-top: 50px;
          margin-bottom: 0;
          margin-left: -10px; }

body main#login form.connect {
  margin-top: 30vh;
  transform: translateY(-50%); }
  body main#login form.connect input {
    border: none;
    border-bottom: solid 2px #34B3AA;
    background-color: #F7F7F7;
    margin: 8% auto 8% auto;
    height: 3em;
    display: block;
    width: 65%; }
    body main#login form.connect input:focus {
      outline: none; }
  body main#login form.connect .button_full {
    width: 65%;
    padding: 8px 0;
    margin: 12% auto 0 auto;
    display: block;
    border-radius: 5px;
    border: none;
    background-color: #34B3AA;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em; }
body main#login nav {
  height: 15vh;
  margin-top: 15vw;
  text-align: center; }
  body main#login nav:before {
    content: "";
    display: block;
    position: relative;
    left: 35%;
    height: 5vh;
    width: 30%;
    border-bottom: 2px solid #787878; }
  body main#login nav p {
    font-size: 1.1em; }
    body main#login nav p a {
      cursor: pointer;
      color: #34B3AA; }

body header {
  width: 100%;
  height: auto; }
  body header h1 {
    color: #787878;
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin-top: 5vh;
    margin-bottom: 10px; }

/*# sourceMappingURL=main.css.map */
