@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


// initialisation des variables

$primarycolor: #34B3AA;
$secondarycolor: #707070;
$terciarycolor: #E8E8E8;
$quartuarycolor: #F3F3F3;

$dispo_color: #43AB28;
$indispo_color: #E12012;
$retour_color: #E1A912;
$bc: #F5F5F5;
$font: 'Roboto', sans-serif;
$font_color: #303030;


html {
  font-family: 'Roboto', sans-serif;
  color: $font_color;

  main {
    height: auto;
  }

  .flex_container {
    display: flex;
  }


  .flex_item {
    display: flex;
  }

  .grid_container {
    display: grid;
  }


  //border item search

  .flex_item.green {
    border-right: 3px solid $dispo_color;

    .item__info {
      p:last-of-type {
        color: darkgreen;
      }
    }
  }

  .flex_item.red {
    border-right: 3px solid $indispo_color;

    .item__info {
      p:last-of-type {
        color: red;
      }
    }
  }

  .flex_item.orange {
    border-right: 3px solid $retour_color;

    .item__info {
      p:last-of-type {
        color: orange;
      }
    }
  }

  #detail {
    p.green {
      color: $dispo_color;

      &:before {
      content: '';
        display: block;
        width: 65%;
        border: 2px solid $dispo_color;
        position: relative;
        top: 10px;
        font-size: 1.2em;
      }
    }

    p.red {
      color: $indispo_color;

      &:before {
        content: '';
        display: block;
        width: 65%;
        border: 2px solid $indispo_color;
        position: relative;
        top: 10px;
        font-size: 1.2em;

      }
    }

    p.orange{
      color: $retour_color;

      &:before {
        content: '';
        display: block;
        width: 25%;
        border: 2px solid $retour_color;
        position: relative;
        top: 10px;
        font-size: 1.2em;

        @include md(){
          width: 45%;
        }
      }
    }
  }

  input {
    border: none;
    border-bottom: solid 2px $primarycolor;
    background-color: #F7F7F7;
    margin: 8% auto 8% auto;
    height: 3em;
    display: block;
    width: 65%;
  }

  .button_full {
    width: 65%;
    padding: 8px 0;
    margin: 12% auto 0 auto;
    display: block;
    border-radius: 5px;
    border: none;
    background-color: $primarycolor;
    color: white;
    font-family: $font;
    font-size: 1.2em;

  }

  .button-empty {
    text-align: center;
    width: 100%;
    padding: 5px 0;
    display: block;
    margin: auto;
    color: $primarycolor;
    background-color: white;
    border: 2px solid $primarycolor;
    border-radius: 5px;
  }


}
