@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


// initialisation des variables

$primarycolor: #34B3AA;
$secondarycolor: #787878;
$terciarycolor: #E8E8E8;

$font: 'Roboto', sans-serif;


html {
  font-family: 'Roboto', sans-serif;

  .flex_container{
    display: flex;
  }

  .button-empty{
    text-align: center;
    width: 100%;
    padding: 5px 0;
    display: block;
    margin: auto;
    color: $primarycolor;
    background-color: white;
    border: 1px solid $primarycolor;
    border-radius: 5px;
  }

  input{
    border: none;
    border-bottom: solid 1px $primarycolor;
    background-color: #F7F7F7;
    margin-bottom: 15px;
    height: 2em;
    &:focus{
      outline: none;
    }
    input{
      background-color: transparent;
      border: none;
      color: $primarycolor;
    }
  }


}
