#my_borrows {

  .flex_container {
    display: block;

    @include md() {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }

  .item {
    display: flex;

    justify-content: space-between;
    background-color: $terciarycolor;
    margin: 10px;
    box-shadow: 1px 1px 3px lightgrey;
    @include md() {
      @include cellule(1, 0, 3, 1.3%)

    }

    @include lg() {
      @include cellule(1, 0, 12, 1.3%);
      min-width: 350px;
    }
    min-width: 350px;
    width: 100%;

    & > .item__info {
      margin: 10px;

      & > h3 {
        color: $font_color;
      }

      & > p {
        font-size: 0.8em;

        &:nth-child(2) {
          margin: 10px 0 5px 0;
        }

        &:nth-child(3) {
          margin: 5px 0 10px 0;
        }
      }
    }

    & > .item__img {
      & > img {
        height: 100px;
        width: auto;
        display: block;
        margin: auto;
      }
    }
  }
}
