body {
  main#search {

    img {
      max-width: 100%;
      height: auto;
    }

    .container {
      width: 100%;

      a {
        .flex_item {
          background-color: $terciarycolor;
          width: 95%;
          margin-left: auto;
          margin-right: auto;
          justify-content: start;
          margin-bottom: 15px;

          .item__img {
            width: 20%;
            padding: 10px;
            background-color: $quartuarycolor;

            img {
              width: 100%;
              height: auto;
              vertical-align: middle;

            }
          }

          .item__info {
            padding-left: 10px;
            width: 80%;

            h3{

            }

            p {
              width: 100%;
              &:first-of-type{
                color: $secondarycolor;
                margin-left: 3px;
              }



              &:last-of-type {
                text-align: right;
                margin-top: 50px;
                margin-bottom: 0;
                margin-left: -10px;
              }
            }


          }


        }
      }
    }
  }
}

