body {


  main#login {


    form.connect {

      margin-top: 30vh;
      transform: translateY(-50%);


      p{
        width: 100%;
        text-align: center;
        color: $indispo_color;
      }


    }

    nav {
      height: 15vh;
      margin-top: 15vw;
      text-align: center;

      &:before {
        content: "";
        display: block;
        position: relative;
        left: 30%;
        top: -5vh;
        width: 40%;
        border-bottom: 2px solid $secondarycolor;
      }


      p {
        font-size: 1.1em;

        a {
          cursor: pointer;
          color: $primarycolor;
        }
      }
    }

  }
}